In [3]:
# Importing pandas and numpy Libraries 
import pandas as pd
import numpy as np

In [4]:
# Working on Zomato Dataset
data = pd.read_csv('/home/nineleaps/Downloads/NineLeaps/Zomato_Dataset.csv')
data.shape

(9551, 17)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RestaurantID          9551 non-null   int64
 1   RestaurantName        9551 non-null   object
 2   CountryCode           9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   LocalityVerbose       9551 non-null   object
 7   Cuisines              9542 non-null   object
 8   Currency              9551 non-null   object
 9   Has_Table_booking     9551 non-null   object
 10  Has_Online_delivery   9551 non-null   object
 11  Is_delivering_now     9551 non-null   object
 12  Switch_to_order_menu  9551 non-null   object
 13  Price_range           9551 non-null   int64
 14  Votes                 9551 non-null   int64
 15  Average_Cost_for_two  9551 non-null   int64
 16  Rating                9551 non-null   float64
dtypes: float64(1), int64(5), object(11)
memory usage: 1.2+ MB

In [6]:
data.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating'],
      dtype='object')

In [7]:
data.describe()

,RestaurantID,CountryCode,Price_range,Votes,Average_Cost_for_two,Rating
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,1.804837,156.909748,1199.210763,2.891268
std,8.791521e+06,56.750546,0.905609,430.169145,16121.183073,1.128845
min,5.300000e+01,1.000000,1.000000,0.000000,0.000000,1.000000
25%,3.019625e+05,1.000000,1.000000,5.000000,250.000000,2.500000
50%,6.004089e+06,1.000000,2.000000,31.000000,400.000000,3.200000
75%,1.835229e+07,1.000000,2.000000,131.000000,700.000000,3.700000
max,1.850065e+07,216.000000,4.000000,10934.000000,800000.000000,4.900000

In [8]:
data['RestaurantName'].nunique()

7446

In [9]:
print(data['RestaurantName'].unique())

['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' ...
 'Huqqa' 'A??k Kahve' "Walter's Coffee Roastery"]

In [10]:
data['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(?)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [11]:
df = data

In [12]:
df.head()

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
0,6317637,Le Petit Souffle,162,Makati City,Third Floor| Century City Mall| Kalayaan Avenu...,Century City Mall| Poblacion| Makati City,Century City Mall| Poblacion| Makati City| Mak...,French| Japanese| Desserts,Botswana Pula(P),Yes,No,No,No,3,314,1100,4.8
1,6304287,Izakaya Kikufuji,162,Makati City,Little Tokyo| 2277 Chino Roces Avenue| Legaspi...,Little Tokyo| Legaspi Village| Makati City,Little Tokyo| Legaspi Village| Makati City| Ma...,Japanese,Botswana Pula(P),Yes,No,No,No,3,591,1200,4.5
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,Edsa Shangri-La| 1 Garden Way| Ortigas| Mandal...,Edsa Shangri-La| Ortigas| Mandaluyong City,Edsa Shangri-La| Ortigas| Mandaluyong City| Ma...,Seafood| Asian| Filipino| Indian,Botswana Pula(P),Yes,No,No,No,4,270,4000,4.4
3,6318506,Ooma,162,Mandaluyong City,Third Floor| Mega Fashion Hall| SM Megamall| O...,SM Megamall| Ortigas| Mandaluyong City,SM Megamall| Ortigas| Mandaluyong City| Mandal...,Japanese| Sushi,Botswana Pula(P),No,No,No,No,4,365,1500,4.9
4,6314302,Sambo Kojin,162,Mandaluyong City,Third Floor| Mega Atrium| SM Megamall| Ortigas...,SM Megamall| Ortigas| Mandaluyong City,SM Megamall| Ortigas| Mandaluyong City| Mandal...,Japanese| Korean,Botswana Pula(P),Yes,No,No,No,4,229,1500,4.8

In [13]:
df.tail()

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
9546,5915730,Naml? Gurme,208,?stanbul,Kemanke? Karamustafa Pa?a Mahallesi| R?ht?m Ca...,Karak?y,Karak?y| ?stanbul,Turkish,Turkish Lira(TL),No,No,No,No,3,788,80,4.1
9547,5908749,Ceviz A?ac?,208,?stanbul,Ko?uyolu Mahallesi| Muhittin ?st?nda? Caddesi|...,Ko?uyolu,Ko?uyolu| ?stanbul,World Cuisine| Patisserie| Cafe,Turkish Lira(TL),No,No,No,No,3,1034,105,4.2
9548,5915807,Huqqa,208,?stanbul,Kuru?e?me Mahallesi| Muallim Naci Caddesi| No ...,Kuru?e?me,Kuru?e?me| ?stanbul,Italian| World Cuisine,Turkish Lira(TL),No,No,No,No,4,661,170,3.7
9549,5916112,A??k Kahve,208,?stanbul,Kuru?e?me Mahallesi| Muallim Naci Caddesi| No ...,Kuru?e?me,Kuru?e?me| ?stanbul,Restaurant Cafe,Turkish Lira(TL),No,No,No,No,4,901,120,4.0
9550,5927402,Walter's Coffee Roastery,208,?stanbul,Cafea?a Mahallesi| Bademalt? Sokak| No 21/B| K...,Moda,Moda| ?stanbul,Cafe,Turkish Lira(TL),No,No,No,No,2,591,55,4.0

In [14]:
df.head(2)

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
0,6317637,Le Petit Souffle,162,Makati City,Third Floor| Century City Mall| Kalayaan Avenu...,Century City Mall| Poblacion| Makati City,Century City Mall| Poblacion| Makati City| Mak...,French| Japanese| Desserts,Botswana Pula(P),Yes,No,No,No,3,314,1100,4.8
1,6304287,Izakaya Kikufuji,162,Makati City,Little Tokyo| 2277 Chino Roces Avenue| Legaspi...,Little Tokyo| Legaspi Village| Makati City,Little Tokyo| Legaspi Village| Makati City| Ma...,Japanese,Botswana Pula(P),Yes,No,No,No,3,591,1200,4.5

In [15]:
a = df['Average_Cost_for_two'].sum()
print(a)

11453662

In [16]:
a = []

for item in data['City']:
    if "?" in item:
        a.append(item)
print(pd.Series(a).unique())

['Bras?lia' 'S?o Paulo' '?stanbul']

In [17]:
fix_map = {
    "Bras?lia": "Brasília",
    "S?o Paulo": "São Paulo",
    "?stanbul": "İstanbul"
}

df["City"] = df["City"].replace(fix_map)

In [18]:
df["City"].unique()

array(['Makati City', 'Mandaluyong City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Santa Rosa', 'Tagaytay City',
       'Taguig City', 'Brasília', 'Rio de Janeiro', 'São Paulo', 'Albany',
       'Armidale', 'Athens', 'Augusta', 'Balingup', 'Beechworth', 'Boise',
       'Cedar Rapids/Iowa City', 'Chatham-Kent', 'Clatskanie', 'Cochrane',
       'Columbus', 'Consort', 'Dalton', 'Davenport', 'Des Moines',
       'Dicky Beach', 'Dubuque', 'East Ballina', 'Fernley', 'Flaxton',
       'Forrest', 'Gainesville', 'Hepburn Springs', 'Huskisson',
       'Inverloch', 'Lakes Entrance', 'Lakeview', 'Lincoln', 'Lorn',
       'Macedon', 'Macon', 'Mayfield', 'Mc Millan', 'Middleton Beach',
       'Miller', 'Monroe', 'Montville', 'Ojo Caliente', 'Orlando',
       'Palm Cove', 'Paynesville', 'Penola', 'Pensacola',
       'Phillip Island', 'Pocatello', 'Potrero', 'Princeton',
       'Rest of Hawaii', 'Savannah', 'Singapore', 'Sioux City',
       'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia',
       'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton',
       'Winchester Bay', 'Yorkton', 'Abu Dhabi', 'Dubai', 'Sharjah',
       'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag',
       'Bandung', 'Bogor', 'Jakarta', 'Tangerang', 'Auckland',
       'Wellington City', 'Birmingham', 'Edinburgh', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Inner City', 'Johannesburg',
       'Pretoria', 'Randburg', 'Sandton', 'Colombo', 'Ankara', 'İstanbul'],
      dtype=object)

In [22]:
df.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating'],
      dtype='object')

In [23]:
df.Rating.unique()

array([4.8, 4.5, 4.4, 4.9, 4. , 4.2, 4.3, 3.6, 4.7, 3. , 3.8, 3.7, 3.2,
       3.1, 1. , 4.1, 3.3, 4.6, 3.9, 3.4, 3.5, 2.2, 2.9, 2.4, 2.6, 2.8,
       2.1, 2.7, 2.5, 1.8, 2. , 2.3, 1.9])

In [24]:
print(df["Locality"].unique())

['Century City Mall| Poblacion| Makati City'
 'Little Tokyo| Legaspi Village| Makati City'
 'Edsa Shangri-La| Ortigas| Mandaluyong City' ... 'Ko?uyolu' 'Kuru?e?me'
 'Moda']

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RestaurantID          9551 non-null   int64
 1   RestaurantName        9551 non-null   object
 2   CountryCode           9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   LocalityVerbose       9551 non-null   object
 7   Cuisines              9542 non-null   object
 8   Currency              9551 non-null   object
 9   Has_Table_booking     9551 non-null   object
 10  Has_Online_delivery   9551 non-null   object
 11  Is_delivering_now     9551 non-null   object
 12  Switch_to_order_menu  9551 non-null   object
 13  Price_range           9551 non-null   int64
 14  Votes                 9551 non-null   int64
 15  Average_Cost_for_two  9551 non-null   int64
 16  Rating                9551 non-null   float64
dtypes: float64(1), int64(5), object(11)
memory usage: 1.2+ MB

In [26]:
df.Switch_to_order_menu.unique()

array(['No'], dtype=object)

In [27]:
df.CountryCode.unique()

array([162,  30, 216,  14,  37, 184, 214,   1,  94, 148, 215, 166, 189,
       191, 208])

In [28]:
df["rating_category"] = "Unknown"

df.loc[df["Rating"] <= 2.5, "rating_category"] = "Poor"
df.loc[(df["Rating"] > 2.5) & (df["Rating"] <= 3.5), "rating_category"] = "Average"
df.loc[(df["Rating"] > 3.5) & (df["Rating"] <= 4.5), "rating_category"] = "Good"
df.loc[df["Rating"] > 4.5, "rating_category"] = "Excellent"

In [29]:
df.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating', 'rating_category'],
      dtype='object')

In [30]:
df['rating_category'].unique()

array(['Excellent', 'Good', 'Average', 'Poor'], dtype=object)

In [31]:

# 1. List all restaurants in a specific locality.
locality = "SM Megamall| Ortigas| Mandaluyong City"

result = df[df["Locality"] == locality][["RestaurantName","Rating"]]

print(result)

  RestaurantName  Rating
3           Ooma     4.9
4    Sambo Kojin     4.8
5   Din Tai Fung     4.4

In [32]:
# 2. Show the name and city of restaurants with a rating lower than 3.

df[df['Rating']<3][['RestaurantName','City']]

                    RestaurantName            City
30                   Sandubas Caf?        Brasília
58           Quiosque Chopp Brahma  Rio de Janeiro
69                Cantinho da Gula       São Paulo
77                    Divino Fog?o       São Paulo
78                     Super Grill       São Paulo
...                            ...             ...
9306  De Fontein Belgian Beer Cafe        Auckland
9337              Pepe's Piri Piri      Birmingham
9351        Damascena Coffee House      Birmingham
9498       Elite Indian Restaurant         Colombo
9507                  Queen's Cafe         Colombo

[3581 rows x 2 columns]

In [33]:
# 3. Count the number of restaurants that do not offer table booking.
a = df[df["Has_Table_booking"]=='No']["RestaurantID"].count()
print(a)

8393

In [34]:
# 4. Display restaurants that have an average cost for two less than $50.
currency_map = {
    "Botswana Pula(P)": "BWP",
    "Brazilian Real(R$)": "BRL",
    "Dollar($)": "USD",
    "Emirati Diram(AED)": "AED",
    "Indian Rupees(Rs.)": "INR",
    "Indonesian Rupiah(IDR)": "IDR",
    "NewZealand($)": "NZD",
    "Pounds(?)": "GBP",
    "Qatari Rial(QR)": "QAR",
    "Rand(R)": "ZAR",
    "Sri Lankan Rupee(LKR)": "LKR",
    "Turkish Lira(TL)": "TRY"
}
df["Currency_Code"] = df["Currency"].map(currency_map)
exchange_to_usd = {
    "USD": 1.00,
    "BWP": 0.079,
    "BRL": 0.19,
    "AED": 0.27,
    "INR": 0.012,
    "IDR": 0.000067,
    "NZD": 0.60,
    "GBP": 1.26,
    "QAR": 0.27,
    "ZAR": 0.054,
    "LKR": 0.0031,
    "TRY": 0.052
}
df["Cost_in_USD"] = df["Average_Cost_for_two"] * df["Currency_Code"].map(exchange_to_usd)
df[df["Cost_in_USD"]<50]["RestaurantName"]

18      Hobing Korean Dessert Cafe
22                     Chez Michou
23              Caf? Daniel Briand
24        Casa do Biscoito Mineiro
25                           Maori
                   ...
9546                   Naml? Gurme
9547                   Ceviz A?ac?
9548                         Huqqa
9549                    A??k Kahve
9550      Walter's Coffee Roastery
Name: RestaurantName, Length: 9359, dtype: object

In [35]:
# 5. Find restaurants with more than 100 votes.
df[df["Votes"]>100]['RestaurantName']

0               Le Petit Souffle
1               Izakaya Kikufuji
2         Heat - Edsa Shangri-La
3                           Ooma
4                    Sambo Kojin
                  ...
9546                 Naml? Gurme
9547                 Ceviz A?ac?
9548                       Huqqa
9549                  A??k Kahve
9550    Walter's Coffee Roastery
Name: RestaurantName, Length: 2805, dtype: object

In [36]:
# 6. List the names of restaurants offering both table booking and online delivery.

df[(df["Has_Table_booking"] == "Yes") & (df["Has_Online_delivery"] == 'Yes')]["RestaurantName"]

566                       Pizza Di Rocco
571     Cho Gao - Crowne Plaza Abu Dhabi
572                               Gazebo
578                     Indian By Nature
585                        Maharaja Bhog
                      ...
9166                             Chili's
9168                          Blue Water
9170                     Tales & Spirits
9171             18 Degrees Resto Lounge
9194                      Saffron Mantra
Name: RestaurantName, Length: 435, dtype: object

In [37]:
# 7. Show the cuisines offered by restaurants in 'Paris'.

paris_cuisines = df.loc[df["City"] == "Paris", "Cuisines"]
print(paris_cuisines)

Series([], Name: Cuisines, dtype: object)

In [38]:

# 8. Count the number of restaurants in each price range.

df['Price_range'].value_counts()

Price_range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

In [39]:
# 9. Display the top 10 restaurants by rating in a specific country.
CountryCode = "1"

result = (
    df[df["CountryCode"] == CountryCode]
    [["RestaurantName", "Rating"]]
    .sort_values(by="Rating", ascending=False)
    .head(10)
)

print(result)

Empty DataFrame
Columns: [RestaurantName, Rating]
Index: []

In [40]:
# 10. List all restaurants with 'Cafe' in their cuisine type.
result = df[df["Cuisines"].str.contains("Cafe", case=False, na=False)]["RestaurantName"]
print(result)

15                   Cafe Arabelle
18      Hobing Korean Dessert Cafe
19         Wildflour Cafe + Bakery
23              Caf? Daniel Briand
30                   Sandubas Caf?
                   ...
9542                  Leman K?lt?r
9543                   Dem Karak?y
9547                   Ceviz A?ac?
9549                    A??k Kahve
9550      Walter's Coffee Roastery
Name: RestaurantName, Length: 707, dtype: object

In [41]:
avg_votes_locality = df.groupby("Locality")["Votes"].mean().reset_index()
print(avg_votes_locality)

                                 Locality        Votes
0     12th Square Building| Banjara Hills  3374.000000
1                                 ?ayyolu   126.000000
2                            ?guas Claras    15.666667
3                                 ?mitk?y   152.000000
4                              ?ukurambar   115.000000
...                                   ...          ...
1203                          Yusuf Sarai    37.240000
1204             Z Square Mall| Mall Road    41.000000
1205                          Zakir Nagar     0.285714
1206                          Zoo Tiniali   238.500000
1207             ibis New Delhi| Aerocity     4.500000

[1208 rows x 2 columns]

In [42]:
online_delivery_city = df[df["Has_Online_delivery"] == "Yes"].groupby("City")["RestaurantName"].count().reset_index()
online_delivery_city.rename(columns={"RestaurantName": "Online_Delivery_Count"}, inplace=True)
print(online_delivery_city)

            City  Online_Delivery_Count
0      Abu Dhabi                     11
1      Ahmedabad                     11
2      Bangalore                      7
3     Chandigarh                      6
4        Chennai                     13
5     Coimbatore                      7
6          Dubai                      6
7      Faridabad                     35
8      Ghaziabad                     10
9        Gurgaon                    425
10     Hyderabad                      7
11        Jaipur                     10
12         Kochi                      5
13       Kolkata                      8
14        Mohali                      1
15        Mumbai                      7
16        Nagpur                     10
17     New Delhi                   1489
18         Noida                    364
19          Pune                      7
20  Secunderabad                      1
21       Sharjah                     11

In [43]:
table_booking_city = df[df["Has_Table_booking"] == "Yes"].groupby("City")["RestaurantName"].count()
table_booking_city = table_booking_city.sort_values(ascending=False).reset_index()
print(table_booking_city.head())

        City  RestaurantName
0  New Delhi             715
1    Gurgaon             204
2      Noida             112
3  Faridabad              15
4    Chennai              13

In [44]:
chinese_rating = df[df["Cuisines"].str.contains("Chinese", na=False)]
avg_chinese_rating = chinese_rating["Rating"].mean()
print(avg_chinese_rating)

2.821844127332602

In [45]:
most_common_price_london = df[df["City"] == "London"]["Price_range"].mode()[0]
print(most_common_price_london)

3

In [46]:
# Split cuisines by comma and explode
df_cuisines = df.copy()
df_cuisines["CuisineList"] = df_cuisines["Cuisines"].str.split(",")
df_exploded = df_cuisines.explode("CuisineList")

cuisine_count_country = df_exploded.groupby("CountryCode")["CuisineList"].nunique().reset_index()
cuisine_count_country.rename(columns={"CuisineList": "Total_Cuisines"}, inplace=True)
print(cuisine_count_country)

    CountryCode  Total_Cuisines
0             1            1392
1            14              21
2            30              42
3            37               4
4            94              18
5           148              28
6           162              19
7           166              14
8           184              19
9           189              56
10          191              20
11          208              23
12          214              46
13          215              57
14          216             229

In [47]:
min_cost_city = df.loc[df.groupby("City")["Average_Cost_for_two"].idxmin()][["City", "RestaurantName", "Average_Cost_for_two"]]
print(min_cost_city)

                 City                            RestaurantName  \
576         Abu Dhabi                             Tikka Tonight
634              Agra               The Latitude - Radisson Blu
646         Ahmedabad                             Huber & Holly
84             Albany                             Cookie Shoppe
677         Allahabad                            The BrewMaster
...               ...                                       ...
561           Weirton  Theo Yianni's Authentic Greek Restaurant
9319  Wellington City                              Ekim Burgers
562    Winchester Bay                 Fishpatrick's Crabby Cafe
563           Yorkton                             Arigato Sushi
9538         İstanbul                                 Starbucks

      Average_Cost_for_two
576                     50
634                      0
646                    300
84                       0
677                      0
...                    ...
561                     25
9319                    25
562                     25
563                     25
9538                    30

[141 rows x 3 columns]

In [48]:
top_localities = df["Locality"].value_counts().head(5).reset_index()
top_localities.columns = ["Locality", "Restaurant_Count"]
print(top_localities)

          Locality  Restaurant_Count
0  Connaught Place               122
1   Rajouri Garden                99
2         Shahdara                87
3   Defence Colony                86
4    Malviya Nagar                85

In [49]:
delivery_percentage = df.groupby("City")["Is_delivering_now"].value_counts(normalize=True).mul(100).rename("percentage").reset_index()

# Filter only delivering now
delivery_percentage = delivery_percentage[delivery_percentage["Is_delivering_now"] == "Yes"]
print(delivery_percentage[["City", "percentage"]])

          City  percentage
25  Chandigarh    5.555556
52     Gurgaon    1.073345
91   New Delhi    0.292344
93       Noida    0.462963

In [50]:
locality = "YourLocalityName"

price_dist_locality = df[df["Locality"] == locality]["Price_range"].value_counts().reset_index()
price_dist_locality.columns = ["Price_range", "Count"]
print(price_dist_locality)

Empty DataFrame
Columns: [Price_range, Count]
Index: []